@model VehicleDiary.ViewModel.DBPetrolModelVM

<form asp-action="Petrol" method="post">
    <input type="hidden" asp-for="vehicleId"/>
    <div class="form-group">
        <label asp-for="PetrolAmount">Amount of petrol/diesel you refueled</label>
        <input type="text" asp-for="PetrolAmount" class="form-control" id="VehicleName" placeholder="As how many liters, for example : 40">
        <span asp-validation-for="PetrolAmount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PetrolPrice">How much did you paid</label>
        <input type="text" asp-for="PetrolPrice" class="form-control" id="VehicleModel" placeholder="As price in your currency, for example : 500">
        <span asp-validation-for="PetrolPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PetrolType">What type of petrol/diesel did you bought</label>
        <input type="text" asp-for="PetrolType" class="form-control" id="VehicleLicensePlate" placeholder="As octane, for example : 98 ">
        <span asp-validation-for="PetrolType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PetrolDate">When did you refueled</label>
        <input type="text" asp-for="PetrolDate" class="form-control" id="exampleInputEmail1" placeholder="The date when did you refueled, for example 10.2.2025">
        <span asp-validation-for="PetrolDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PetrolMileage">Optional : What was your mileage </label>
        <input type="text" asp-for="PetrolMileage" class="form-control" id="exampleInputEmail1" placeholder="For example : 157 520">
        <span asp-validation-for="PetrolMileage" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
