@model VehicleDiary.ViewModel.DBVignetteModelVM

<form asp-action="Vignette" method="post">
    <input type="hidden" asp-for="vehicleId" />
    <div class="form-group">
        <label asp-for="Country">Choose your country</label>
        <select asp-for="Country" class="form-control">
            @foreach(var entry in ViewBag.Countries)
            {
                <option value="@entry.Code">@entry.Name</option>
            }
        </select>
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ValidFrom">Valid From</label>
        <input type="date" asp-for="ValidFrom" class="form-control" placeholder="When is your vignette valid From" value="@DateTime.Today.ToString()">
        <span asp-validation-for="ValidFrom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ValidTo">Valid To</label>
        <input type="date" asp-for="ValidTo" class="form-control" placeholder="When is your vignette valid To" value="@DateTime.Today.ToString()">
        <span asp-validation-for="ValidTo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price you paid</label>
        <input type="text" asp-for="Price" class="form-control"  placeholder="The price you bought it for">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}